<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/content/bootstrap/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body class="login-img3-body">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bootstrap/js")
    @RenderSection("scripts", required: false)
</body>
</html>
